<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ninja.bombbob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".StoryStart" android:screenOrientation="portrait" />
        <activity android:name=".WaitScreen" android:screenOrientation="portrait" />
        <activity android:name=".AccelerationEvent" android:screenOrientation="portrait"/>
        <activity android:name=".Successcreen" android:screenOrientation="portrait"/>
        <activity android:name=".GyroEvent" android:screenOrientation="portrait"/>
        <activity android:name=".LightEvent" android:screenOrientation="portrait"/>
        <activity android:name=".ProximityEvent" android:screenOrientation="portrait"/>
        <activity android:name=".MagnetEvent" android:screenOrientation="portrait"/>
        <activity android:name=".NoActionEvent" android:screenOrientation="portrait"/>
        <activity android:name=".Failedscreen" android:screenOrientation="portrait"/>
        <activity android:name=".LoseScreen" android:screenOrientation="portrait"/>

        <service android:name=".BigTimerService" />

        <activity android:name=".WinScreen" android:screenOrientation="portrait"/>
        <activity android:name=".CloseScreen" android:screenOrientation="portrait"/>
        <activity android:name=".TapEvent" android:screenOrientation="portrait"></activity>
    </application>

</manifest>