<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ninja.bombbob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StoryStart" />
        <activity android:name=".StoryTutorial" />
        <activity android:name=".WaitScreen" />
        <activity android:name=".EventActivity" />
        <activity android:name=".AccelerationEvent" />
        <activity android:name=".Successcreen" />
        <activity android:name=".GyroEvent" />
        <activity android:name=".LightEvent" />
        <activity android:name=".ProximityEvent" />
        <activity android:name=".MagnetEvent" />
        <activity android:name=".NoActionEvent" />
        <activity android:name=".Failedscreen" />
        <activity android:name=".BigTimer" />
        <activity android:name=".Looser"></activity>
    </application>

</manifest>